%header.navbar.navbar-fixed-top
  .container.nav-container
    = link_to {image_tag('daoboard_logo.png', class: "logo")}
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home", root_path
        %li= link_to "About", about_path
        %li.dropdown
          %a.dropdown-toggle{href: "#", "data-toggle": "dropdown"}
            Features
            %b.caret
          %ul.dropdown-menu
            %li= link_to "Spending Prioritization", "#"
            %li= link_to "Weekly Planning Board", "#"
            %li= link_to "Long Term Horizons", "#"
        %li= link_to "Help", help_path
        - if logged_in?
          %li= link_to "Boards", boards_path
          %li= link_to "Users", users_path
          %li.dropdown
            %a.dropdown-toggle{href: "#", "data-toggle": "dropdown"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", current_user
              %li= link_to "Settings", edit_user_path(current_user)
              %li.divider
              %li= link_to "Logout", logout_path, method: :delete
        - else
          %li= link_to "Log in", login_path