%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "sample app", '#', id: "logo"
    %nav
      %ul.nav.navbar-nav.nastartvbar-right
        %li= link_to "home", root_path
        %li= link_to "about", about_path
        %li= link_to "help", help_path
        %li= link_to "Log in", '#'